*{
    box-sizing: border-box;
}

.card-container{

    column-count:auto;
    column-width: 220px;
    column-gap: 2px;
    margin-inline: 2rem;
    color:#a0a0a0;
    
}

img{
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card{
    position: relative;
    margin-bottom: 15px;
    height:fit-content;
    font-size: 0.75em;
    width:200px;
    border: 1px solid #a0a0a0;
    break-inside: avoid;
    border-radius: 5%;
    display: inline-block;
}
button{
    position: absolute;
    bottom:10px;
    right: 10px;
    font-weight: bold;
    padding: 3px 5px;
    border-width: 1px;
    border-radius: 25%;
}

h6{
    padding: 0px 10px;
    margin: 10px;

    font-weight: bold;
    font-size:small;
}
h3{
    padding: 0px 10px;

    margin-bottom: 0px;
}
h5{
    padding: 0px 10px;

    margin-top: 7px;
}
p{
    margin: 0px;
    padding: 10px 10px;

}